[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
streamlit = "*"
pandas = "*"
pyarrow = "*"
numpy = "==1.24.3"
psycopg2-binary = "*"
networkx = "*"
scipy = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
